.posts-form {
  padding-bottom: 1rem;
}

.posts-comments {
  padding-left: 1rem;
}

.list-comments {
  margin-bottom: .5rem;
  border-style: dotted;
}

.comment-info {
  padding-left: 1rem;
  font-size: .8rem;
}
