.recent-posts {
  padding: 5px;
}

.posts-form {
  width: 50%;
  padding: 5px;
}

.comments {
  width: 30%;
  padding: 10px;
  border-style: dotted;
}

.comment-info {
  padding-left: 30px;
  font-size: 12px;
}
