.recent-posts {
  padding: 1rem;
}

.posts-form {
  width: 50%;
  padding: 1rem;
}

.posts-comments {
  padding-left: 1rem;
}

.comments {
  width: 30%;
  margin: 0.3rem 0 0 0.5rem;

  padding: 0.3rem;
  border-style: dotted;
}

.comment-info {
  padding-left: 1rem;
  font-size: 0.8rem;
}
